{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE 11",
          "Android > 4.4"
        ]
      }
    }],
    "stage-2"
  ]
}
